<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="public/main.css" />

    <title>Todo App</title>
  </head>
  <body>
    <!-- nav.html을 첨부해주세요. -->
    <%- include('nav.html') %>

    <h4 class="ml-2 my-3 text-center">서버에서 가져온 할 일 리스트</h4>
    <div class="container">
      <ul class="list-group">
        <% for(var i=0; i < posts.length; i++){ %>
        <li class="list-group-item">
          <p>글번호: <%= posts[i]._id %></p>
          <h4>할 일 제목: <%= posts[i].제목 %></h4>
          <p>할 일 마감날짜: <%= posts[i].날짜 %></p>
          <a href="/posts/<%= posts[i]._id %>">링크</a>
          <button
            class="delete btn btn-danger"
            data-id="<%= posts[i]._id %>"
            type="button"
          >
            삭제
          </button>
        </li>
        <% } %>
      </ul>
    </div>
    <!-- 제이쿼리 라이브러리 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      $(".delete").click(function (e) {
        var 글번호 = e.target.dataset.id;
        var 지금누른거 = $(this);
        $.ajax({
          method: "DELETE",
          url: "/posts/" + 글번호,
          // data: {}, //id가 1인 데이터
        })
          .done(function (결과) {
            // 페이지를 강제로 새로고침해주세요
            // 삭제버튼을 누른 <li> 요소를 제거해주세요
            console.log("삭제 성공했어용");
            지금누른거.parent("li").fadeOut();
          })
          .fail(function (xhr, textStatus, errorThrown) {
            console.log(xhr, textStatus, errorThrown);
          });
      });
    </script>
    <!-- EJS: html 쉽게 쓰게 해주는 템플릿 엔진 중 하나 ( 또 다른 예시 : pug) -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
